#habits-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#habits-table td, #habits-table th {
  border: 2px solid silver;
  padding: 8px;
}

#habits-table tr:nth-child(even){background-color: ghostwhite;}

#habits-table tr:hover {background-color: whitesmoke;}

#habits-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: darkslategrey;
  color: white;
}

input[type=submit][value=Delete]  {
  background-color: lightcoral;
  border: none;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
  margin: 2px 1px;
  cursor: pointer;
}

a[name=edit-button] {
  background-color: lightskyblue;
  border: none;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
  margin: 2px 1px;
  cursor: pointer;
}

fieldset {
  background-color: whitesmoke;
  margin: auto;
  width: 50%;
}

legend {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.habit-form {
  margin: auto;
}

.habit-form input:not(#id_everyday), .habit-form textarea, .habit-form select, .habit-form button {
  width : 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.habit-form label:not(#everyday-label) {
  display: block;
}
